.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.home {
  width: 100%;
  height: auto;
  padding: 70px 2% 0 2%;
}

.img {
  border-radius: 8px;
  margin: 20px 0;
}

.nome {
  font-size: 1.5rem;
  color: #333;
  font-weight: 400;
  font-variant: all-small-caps;
}

@media screen and (max-width: 769px) {
  .grid {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
