.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.home {
  width: 100%;
  height: auto;
  padding: 0 2%;
}

.img {
  border-radius: 8px;
  margin: 20px 0;
}

.nome {
  font-size: 1.5rem;
  color: #333;
  font-weight: 400;
  font-variant: all-small-caps;
}

.divLoading {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.loadingGif {
  max-width: 100%;
  width: 190px;
  margin: 0 auto;
  display: inline-block;
}

.loadingGif:focus,
.loadingGif:hover {
  outline: none;
  box-shadow: inherit;
}

.divLoading p {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  display: inline-block;
  position: relative;
  top: -85px;
  left: 40px;
}
