.login {
  width: 100%;
  height: 100vh;
  padding: 40px 0;
}

.image > img {
  width: 95%;
  max-width: auto;
  height: 90vh;
}

.image {
  width: 50%;
}

.overlay {
  width: 47.5%;
  height: 100%;
  background: -webkit-linear-gradient(to top, #ffbb11b8, #ffeeaac2);
  background: linear-gradient(to top, #ffbb11b8, #ffeeaac2);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.formulario {
  width: 100%;
  margin: 40px 0 0 0;
  position: relative;
  border-top: 5px solid #fb1;
  border-right: 5px solid #fb1;
}

.botoes {
  position: absolute;
  top: -10px;
  right: -5px;
}

.botoes > button {
  width: auto;
  max-width: 100%;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
  z-index: 1;
}

.botoes > button:hover,
.botoes > button:focus {
  outline: none;
  box-shadow: inherit;
}
.botoes > button > img {
  transition: 1s;
}

.botoes > button > img:hover,
.botoes > button > img:focus {
  outline: none;
  box-shadow: inherit;
}

.loginForm,
.cadastroForm {
  margin-top: 30px;
  position: relative;
  left: 50px;
}

.perdeuSenha {
  display: inline-block;
  margin: 30px 0 20px 0;
  color: #676767;
  border-bottom: 3px solid #676767;
}

@media screen and (max-width: 900px) {
  .image {
    display: none;
  }

  .formulario {
    width: 60%;
    height: 100%;
    position: relative;
    left: 50px;
  }
  .login {
    align-items: center;
    justify-content: center;
  }

  .sectionForm {
    width: 80% !important;
    margin: 0 auto;
    display: block;
  }
  .cadastroForm,
  .loginForm {
    display: block;
    margin: 40px auto 0 auto;
    width: 99%;
    left: 0;
    position: relative;
    text-align: center;
  }
  .formulario {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .formulario {
    width: 100%;
    left: 10px;
  }
}
