* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

html,
body {
  background-color: white;
}

.center {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 4%;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  width: 260px;
  transition: 0.6s;
}

img:hover,
img:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px rgba(255, 242, 170, 0.644), 0px 0px 0px 3px #fea;
}

.error {
  display: inline-block;
  margin: 20px auto;
  padding: 15px 30px;
  border-radius: 8px;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #721c24;
  font-size: 12px;
  text-align: center;
  text-transform: capitalize;
  font-variant: all-small-caps;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.6s;
}

.error:hover,
.error:focus {
  background-color: #721c24;
  color: #f8d7da;
  box-shadow: 0px 0px 0px 1px #f8d7da, 0px 0px 0px 2px #e4acb0;
}

.sucess {
  display: inline-block;
  margin: 20px auto;
  padding: 15px 30px;
  border-radius: 8px;
  color: #88c18e;
  background-color: #e6f4e7;
  border: 1px solid #88c18e;
  font-size: 12px;
  text-align: center;
  text-transform: capitalize;
  font-variant: all-small-caps;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.6s;
}

.sucess:hover,
.sucess:focus {
  background-color: #88c18e;
  color: #e6f4e7;
  box-shadow: 0px 0px 0px 1px #e6f4e7, 0px 0px 0px 2px #4f7052;
}

.divLoading {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.loadingGif {
  max-width: 100%;
  width: 190px;
  margin: 0 auto;
  display: inline-block;
}

.loadingGif:focus,
.loadingGif:hover {
  outline: none;
  box-shadow: inherit;
}

.divLoading p {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  display: inline-block;
  position: relative;
  top: -85px;
  left: 40px;
}

.paddingTop {
  padding-top: 70px;
}

.notfound {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}

.notfound h1 {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #5c5c5c;
  font-size: 40px;
  font-weight: bold;
  color: #5c5c5c;
}

.notfound p {
  font-size: 13px;
  margin-top: 20px;
  color: #5c5c5c;
}

.animacaoLEFT {
  opacity: 0;
  transform: translateX(-80px);
  animation: animacaoLeft 0.5s ease-in-out forwards;
}

.height100vh {
  height: 100vh;
}

.tituloPadrao {
  font-family: "Spectral", Georgia;
  font-size: 2.1rem;
  color: #333;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.tituloPadrao::after {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #fb1;
  position: absolute;
  bottom: -2px;
  left: -6px;
  z-index: -1;
  border-radius: 4px;
}

#newPass {
  left: 0;
}

@keyframes animacaoLeft {
  to {
    opacity: 1;
    transform: inherit;
  }
}
